MealDetailer/MealDetailer/Resources/debug.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
  <xsd:element name="test">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="bar" />
      </xsd:sequence>
      <xsd:attribute name="foo" type="xsd:float" use="required"></xsd:attribute>
    </xsd:complexType>
  </xsd:element> 
</xsd:schema>