MealDetailer/MealDetailer/Resources/foodReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="food">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nutrients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="nutrient">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="measures" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="measure">
                                  <xs:complexType>
                                    <xs:attribute name="label" type="xs:string" use="required" />
                                    <xs:attribute name="eqv" type="xs:decimal" use="required" />
                                    <xs:attribute name="qty" type="xs:decimal" use="required" />
                                    <xs:attribute name="value" type="xs:decimal" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nutrient_id" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                        <xs:attribute name="group" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ndbno" type="xs:unsignedShort" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="footnotes"  minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>