MealDetailer/MealDetailer/Resources/foodReport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:foodreport-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="food">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nutrients">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nutrient" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="measures">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="measure" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="label" use="optional"/>
                                        <xs:attribute type="xs:float" name="eqv" use="optional"/>
                                        <xs:attribute type="xs:float" name="qty" use="optional"/>
                                        <xs:attribute type="xs:float" name="value" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="nutrient_id" use="optional" />
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="unit" use="optional"/>
                        <xs:attribute type="xs:float" name="value" use="optional"/>
                        <xs:attribute type="xs:string" name="group" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="ndbno"/>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="footnotes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>